/*----Reset------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*----Header------*/
.header {
  background-color: beige;
  padding: 30px 0;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 30px;
}
body {
  background-color: beige;
}
.container-xl {
  max-width: 1200px;
  margin: auto;
}

.container-lg {
  max-width: 1100px;
  margin: auto;
}

.container-sm {
  max-width: 800px;
  margin: auto;
}

.header-nav ul {
  display: flex;
  gap: 30px;
}

.header-nav li {
  list-style: none;
  font-size: 30px;
  color: black;
}

.header-nav li a {
  text-decoration: none;
}
.active {
  color: black;
}
/*-----PRODOTTI-------*/
h1 {
  text-align: center;
  margin-bottom: 30px;
}
li button {
  border: none;
  cursor: pointer;
  font-size: 26px;
  margin-left: 16px;
  background-color: transparent;
}
.card li {
  list-style: none;
}
.row-position h3 {
  margin: 16px 0;
}
.tag {
  margin: 16px auto;
}
.tag li {
  list-style: circle;
  margin-left: 16px;
}
.card {
  width: calc((100% - 3rem) / 3);
  background-color: azure;
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}
.row-position {
  justify-content: space-around;
}
.column {
  width: calc(100% / 2);
}
.column-info {
  padding: 0 12px;
}
img {
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.img-fluid {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}
/*-----FORM-------*/
h3 {
  text-align: center;
  margin: 30px;
}
form {
  max-width: 360px;
  margin: auto;
  margin-bottom: 30px;
  background-color: azure;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}

label {
  margin: 0 4px 4px 0;
}

form button {
  padding: 4px;
  cursor: pointer;
}

.btn {
  text-align: center;
}

.btn-single-page button {
  padding: 8px 16px;
  font-size: 16px;
  margin: 24px 10px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: rgba(217, 160, 246, 0.85);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-single-page button:hover {
  background-color: rgba(173, 44, 237, 0.85);
  scale: 1.1;
  transition: 0.3s;
}
